<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../partials/headerLogueado') %>

    <main>
      <div class="uk-section uk-section-small">
        <div class="uk-container uk-container-large uk-flex">
          <section
            id="posts"
            class="
              uk-flex
              uk-flex-middle
              uk-flex-center
              uk-flex-column
              uk-child-width-1-2
              uk-width-1-1
            "
          >
            <% posteos.forEach(post => { %>
            <article class="post uk-card-default uk-flex uk-flex-column">
              <div class="info-usuario uk-flex">
                <div>
                  <a
                    href="/users/detalleUsuario/<%= post.username %>"
                    ><img src="<%= post.profile_picture %> " alt=""
                  /></a>
                </div>
                <h4>
                  <a
                    class="nombre-perfil"
                    href="/users/detalleUsuario/<%= post.username %>"
                    ><%= post.username %></a
                  >
                </h4>
              </div>
              <div class="post-body uk-flex uk-flex-center">
                <a href="/post/detallePost/<%= post.id %>">
                  <img src="<%= post.image %>" alt="" />
                </a>
              </div>
              <div class="post-reacciones">
                <ul class="post-icons uk-flex uk-flex-between">
                  <li>
                    <span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                  </li>
                  <li>
                    <span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                  </li>
                </ul>
                <div class="post-pie uk-flex">
                  <h5 class="uk-width-1-6">
                    <a
                      class="nombre-perfil-pie"
                      href="/users/detalleUsuario/<%= post.user_id %>"
                      ><%= post.user_id %></a
                    >
                  </h5>
                  <p class="uk-width-5-6 pie-de-foto">
                    <%= post.post_caption %>
                  </p>
                </div>
              </div>
            </article>
            <% }) %>
          </section>
        </div>
      </div>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
