<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../partials/headerDeslogueado') %>

    <main>
      <div class="uk-section uk-section-small">
        <div class="uk-container uk-container-large uk-flex">
          <section
            id="posts"
            class="
              uk-flex
              uk-flex-middle
              uk-flex-center
              uk-flex-column
              uk-child-width-1-2
              uk-width-1-1
            "
          >
          <% for( let index = 0; index < posts.length; index++ ) { %>
          <article class="post uk-card-default uk-flex uk-flex-column">
              <div class="info-usuario uk-flex">
                <div>
                  <a href="/users/detalleUsuario/<%= posts[index].user.username %>"><img src="<%= posts[index].profilePicture %> " alt="" /></a>
                </div>
                <h4><a href="/users/detalleUsuario/<%= posts[index].user.username %>"><%= posts[index].user.username %></a></h4>
              </div>
              <div class="post-body uk-flex uk-flex-center">
                <a href="/post/detallePost/<%= posts[index].id %>">
                  <img src="<%= posts[index].image %>" alt="" />
                </a>
              </div>
              <div class="post-reacciones">
                <ul class="post-icons uk-flex uk-flex-between">
                  <li>
                    <span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                  </li>
                  <li>
                    <span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                  </li>
                </ul>
                <div class="post-pie uk-flex">
                  <h5 class="uk-width-1-6">
                    <a href="/users/detalleUsuario/<%= posts[index].user.username %>"><%= posts[index].user.username %></a>
                  </h5>
                  <p class="uk-width-5-6"><%= posts[index].postCaption %></p>
                </div>
              </div>
              <div class="post-comentarios">
                <h6>Comentarios</h6>
                <ul>
                  <% for( let index = 0; index < comments.length; index++ ) { %>
                  <li>
                    <a href="detalleUsuario.html"></a>
                    <p>Comentario</p>
                  </li>
                  <% } %>
                  <a href="">Ver más...</a>
                </ul>
              </div>
            </article>
            <% } %> 
          </section>
        </div>
      </div>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
